.accordion {
    background-color: #fee98c;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #c1c7d4;
}

.accordion:after {
    content: '\002B';
    color: 8aa1d7(244, 50, 6, 0.818);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #f4f4f4;
    display: none;
    overflow: hidden;
}

.panel p {
    color: #f4f4f4;
    padding: 10px 0;
}