.bt1{
 background: #b5e1ff;
  background-image: -webkit-linear-gradient(top, #b5e1ff, #006bad);
  background-image: -moz-linear-gradient(top, #b5e1ff, #006bad);
  background-image: -ms-linear-gradient(top, #b5e1ff, #006bad);
  background-image: -o-linear-gradient(top, #b5e1ff, #006bad);
  background-image: linear-gradient(to bottom, #b5e1ff, #006bad);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 7px 20px 10px 20px;
  text-decoration: none;
}
.bt1:hover{

  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  
}

